In [1]:
import pandas as pd

In [2]:
citi_bike_1811 = pd.read_csv("JC-201811-citibike-tripdata.csv", error_bad_lines=False)
citi_bike_1811.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1188,2018-11-01 06:32:27.5190,2018-11-01 06:52:15.9140,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,33662,Customer,1969,0
1,278,2018-11-01 07:14:31.8680,2018-11-01 07:19:10.2610,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29254,Subscriber,1963,1
2,115,2018-11-01 07:33:17.1920,2018-11-01 07:35:12.2830,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,33607,Subscriber,1966,1
3,155,2018-11-01 08:20:10.9320,2018-11-01 08:22:46.7050,3183,Exchange Place,40.716247,-74.033459,3681,Grand St,40.715178,-74.037683,29222,Subscriber,1975,2
4,82,2018-11-01 08:35:02.7850,2018-11-01 08:36:25.1840,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29678,Subscriber,1975,1

In [3]:
citi_bike_1811 = pd.read_csv("JC-201811-citibike-tripdata.csv", error_bad_lines=False)
citi_bike_1812 = pd.read_csv("JC-201812-citibike-tripdata.csv", error_bad_lines=False)
citi_bike_1901 = pd.read_csv("JC-201901-citibike-tripdata.csv", error_bad_lines=False)
citi_bike_1902 = pd.read_csv("JC-201902-citibike-tripdata.csv", error_bad_lines=False)
citi_bike_1903 = pd.read_csv("JC-201903-citibike-tripdata.csv", error_bad_lines=False)
citi_bike_1904 = pd.read_csv("JC-201904-citibike-tripdata.csv", error_bad_lines=False)
citi_bike_1905 = pd.read_csv("JC-201905-citibike-tripdata.csv", error_bad_lines=False)
citi_bike_1906 = pd.read_csv("JC-201906-citibike-tripdata.csv", error_bad_lines=False)
citi_bike_1907 = pd.read_csv("JC-201907-citibike-tripdata.csv", error_bad_lines=False)
citi_bike_1908 = pd.read_csv("JC-201908-citibike-tripdata.csv", error_bad_lines=False)
citi_bike_1909 = pd.read_csv("JC-201909-citibike-tripdata.csv", error_bad_lines=False)
citi_bike_1910 = pd.read_csv("JC-201910-citibike-tripdata.csv", error_bad_lines=False)

In [6]:
citi_data_12mo = [citi_bike_1811, citi_bike_1812, citi_bike_1901, citi_bike_1902, citi_bike_1903, citi_bike_1904,
                 citi_bike_1905, citi_bike_1906, citi_bike_1907, citi_bike_1908, citi_bike_1909, citi_bike_1910]

In [8]:
compile_data = pd.concat(citi_data_12mo)
compile_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1188,2018-11-01 06:32:27.5190,2018-11-01 06:52:15.9140,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,33662,Customer,1969,0
1,278,2018-11-01 07:14:31.8680,2018-11-01 07:19:10.2610,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29254,Subscriber,1963,1
2,115,2018-11-01 07:33:17.1920,2018-11-01 07:35:12.2830,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,33607,Subscriber,1966,1
3,155,2018-11-01 08:20:10.9320,2018-11-01 08:22:46.7050,3183,Exchange Place,40.716247,-74.033459,3681,Grand St,40.715178,-74.037683,29222,Subscriber,1975,2
4,82,2018-11-01 08:35:02.7850,2018-11-01 08:36:25.1840,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29678,Subscriber,1975,1

In [9]:
compile_data.to_csv('citi_data_12mo.csv')